$text-color-main: #808080; //Основной цвет шрифта
$text-color-muted: #555555; ////Цвет заголовков
$style-color-active: #c0301c;
$style-color-main: #e0e0e0;
$even-background: #f8f8f8;



$active-color: #5dca88;//однострочный комментарий
$footer-color: #2d312f;