@mixin flexAlign($hor: center, $vert: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

@mixin fontStyle ($fontSize: 14px, $fontWeight: 400, $color: $text-color-main) {
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeight;
}