//Импорт файла цвета и миксинов, принято использовать одинарные кавычки
@import './mixins.scss';
@import './colors.scss';

//Применяем ко всему телу страницы оступы 0 шрифт
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

//Работа с баннером
.banner {
    height: 770px;
    background-image: url('../images/background_head.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    //Логотип и меню, т.к. на одной линии bootsrap
    .menu {
        margin-top: 40px;
        height: 23px;
    
        &__logo {
            @include fontStyle(23px, 700, white);
            font-family: 'Montserrat', sans-serif;
        }
    }

    //Основной текст в баннере
    .title {
        margin-top: 262px;
        
        &__big {
            @include fontStyle(35px, 700, white);
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            height: 48px;
        }

        &__small {
            @include fontStyle(20px, 400, white);            
            font-family: 'Montserrat', sans-serif;
            margin-top: 33px;
            height: 20px;
        }

        //Кнопка
        &__press {
            @include fontStyle(14px, 400, white);
            @include flexAlign();
            text-transform: uppercase;
            margin-top: 53px;
            width: 180px;
            height: 50px;
            border: 2px solid white;            
            cursor: pointer;

            //Изменение на кнопке
            &:hover {
                background-color: rgba(black, 0.6);
            }
        }
    }
}




//Общее тип для заголовка и текста разделов
.title {        
    margin-top: 100px;

    //Заголовок
    &__big {
        @include fontStyle(16px, 700, $text-color-muted);
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        height: 16px;
    }

    //Разделяющая линия
    &__line {
        width: 50px;
        height: 2px;
        margin: 30px 0 0 33%;
        background-color: $text-color-muted;
    }

    //Основной текст
    &__small {            
        @include fontStyle(16px, 400, $text-color-muted);
        margin-top: 28px;
    }
}



//Общий тип для всего текста
.text {
    @include fontStyle(14px, 400, $text-color-muted);
    margin-top: 70px;
    text-align: left;
}



//Раздел "Сервис"
.services {        
    @include flexAlign(center, center, column);
    margin-top: 70px;

    //Буква А
    &__letter {                
        @include flexAlign();
        width: 90px;
        height: 90px;
        border-radius: 100%;
        border: 2px solid $style-color-main;
        background-color: $style-color-active;
    }
        
    //Два кружка код и поддержка
    &__circle {                
        @include flexAlign();
        width: 90px;
        height: 90px;
        border-radius: 100%;
        border: 2px solid $style-color-main;
        color: $style-color-active;
    }

    //Заголовок под кружками сервиса
    &__title {
        @include fontStyle(12px, 700, $text-color-muted);
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-top: 30px;
    }
        
    //Основной текст под кружками сервиса
    &__text {
        @include fontStyle(14px, 400, $text-color-muted);
        margin-top: 25px;
    }
}


//Раздел "О нас"
.about {
    background-color: $even-background;
    height: 852px;
    margin-top: 100px;
    padding-top: .1px;
    box-sizing: border-box;

    .team {
        //Карточка команды
        &__img {
            margin-top: 70px;
            height: 250px;

            &-front {
                //position: absolute;
            }

            //Высплывает при наведении на фото
            &-back {                
                //position: relative;
                height: 250px;
                padding-top: 190px;
                box-sizing: border-box;
                opacity: 0;
                background-color: rgba(black, 0.6);

                //Отступы и размеры иконок соцсетей
                &-icon {
                    height: 16px;
                    margin-right: 16px;

                    //При наведении на иконку соцсети
                    &:hover {
                        cursor: pointer;
                        background-color: $style-color-active;
                    }

                    //Отступ у последней иконки соцсетей
                    &::after {
                        margin-right: 0;
                    }
                }
            }

            &:hover {
                .team__img-front {
                    //
                }
    
                .team__img-back {
                    opacity: 1;
                    transition: opacity .5s;
                }
            }
        }
        
        &__big {
            @include fontStyle(11px, 700, $text-color-muted);
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            margin-top: 21px;
            height: 16px;
        }

        &__small {            
            @include fontStyle(14px, 400, $text-color-muted);
            margin-top: 15px;
        }
    }
}



//Раздел "Работы"
.category {
    @include fontStyle();
    margin: 28px 0 70px 0;
}

.works {
    padding-bottom: 30px;
}



//Раздел "Проект"
.project {
    margin-top: 70px;
    height: 368px;
    width: 100%;
    background-image: url('../images/works.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    //Основной текст в баннере
    .title {
        padding-top: 100px;
        box-sizing: border-box;

        &__big {
            @include fontStyle(22px, 700, white);
            font-family: 'Montserrat', sans-serif;
            height: 35px;
        }

        //Кнопка
        &__press {
            @include fontStyle(14px, 400, white);
            @include flexAlign();
            text-transform: uppercase;
            margin-top: 51px;
            width: 180px;
            height: 50px;
            border: 2px solid white;            
            cursor: pointer;

            //Изменение на кнопке
            &:hover {
                background-color: rgba(black, 0.6);
            }
        }
    }    
}

//Раздел "Блог"
.blog__img {
    margin-top: 70px;
}

.blog {
    margin-top: 70px;
    padding: 0 16px 0 16px;
    box-sizing: border-box;
    margin-left: 16px;
    
    &__title {
        display: flex;
        
        &-date {
            @include flexAlign(center, center, column);
            width: 76px;
            height: 76px;
            border: 2px solid $text-color-muted;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;

            &-number {
                @include fontStyle(19px, 900, $text-color-muted);
            }

            &-text {
                @include fontStyle(10px, 900, $text-color-muted);
            }
        }

        &-name {         
            @include fontStyle (12px, 900, $text-color-muted);
            display: flex;   
            justify-content: center;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            text-align: left;            
            margin-left: 28px;

            &-big {
                text-transform: uppercase;
                margin-bottom: 15px;
            }

            &-small {
                font-style: italic;
            }
        }

        &-quote {
            @include fontStyle();
            margin: 22px 0 35px 0;
            text-align: left;
        }

        &-button {
            @include fontStyle(14px, 900, $text-color-muted);
            text-align: left;
            text-transform: uppercase;
            height: 85px;
        }
    }

    &:hover {
        .blog__title-name {
            @include fontStyle (12px, 900, $style-color-active);
        }

        .blog__title-button {
            @include fontStyle (14px, 900, $style-color-active);
        }

        background-color: rgba(black, 0.05);
        cursor: pointer;
        transition: .5s;
    }
}



//Раздел "Клиенты"
.clients {
    height: 470px;
    margin-top: 100px;
    background-color: $even-background;

    &__logo {
        @include flexAlign();
        margin-top: 100px;
    }

    &__quote {
        @include flexAlign();
        @include fontStyle (19px);
        margin-top: 67px;
        font-style: italic;
    }

    &__name {
        @include flexAlign();
        @include fontStyle (20px);
        margin-top: 40px;
    }

    .circles {
        @include flexAlign();
        margin-top: 40px;


        &__item {
            height: 13px;
            width: 13px;
            border-radius: 100%;
            margin-right: 7px;
            background-color: $text-color-main;

            &::after {
                margin-right: 0;
            }
        }
    }
}



.connection {
    height: 300px;
    margin-bottom: 100px;
    padding-top: 70px;
    box-sizing: border-box;

    .contacts {
        text-align: left;

        &__big {
            @include flexAlign (left);

            &-title {
                @include fontStyle (13px, 900, $text-color-main);
                text-transform: uppercase;
                margin-left: 13px;
            }
        }

        &__small {
            @include fontStyle (11px, 400, $text-color-main);
            margin: 13px 0 20px 27px;
        }
    }

    .form {
        @include flexAlign (space-around);

        &__text {
            @include flexAlign (left);
            @include fontStyle (14px);
            padding-left: 16px;
            box-sizing: border-box;
            margin-bottom: 21px;
            margin-left: -75px;
            text-transform: uppercase;
            width: 350px;
            height: 44px;
            border: 2px solid $text-color-main;
            cursor: text;
            overflow: hidden;
            outline: none;
            white-space: nowrap;
        }        
    }

    .message {
        @include fontStyle (14px);
        padding-left: 16px;
        box-sizing: border-box;
        margin-bottom: 21px;
        text-transform: uppercase;
        width: 730px;
        height: 104px;
        border: 2px solid $text-color-main;
        cursor: text;
        overflow: hidden;
        outline: none;
        white-space: nowrap;
    }

    .btn {
        @include fontStyle (14px);
        margin-left: -600px;
        text-transform: uppercase;
        border: 2px solid $text-color-main;

        &:hover {
            background-color: rgba(black, 0.6);
            color: white;
            transition: .5s;
        }
    }
}



//Раздел "footer"
.footer {
    padding-top: .1px;
    box-sizing: border-box;
    height: 307px;
    background-color: $style-color-active;


    .title {
        @include flexAlign ();

        &__big {
            @include flexAlign ();            
            margin-right: 9px;
            color: white;
            height: 35px;
            width: 35px;
            border-radius: 100%;
            border: 2px solid white;

            &-icon {
                height: 15px;
            }

            &::after {
                margin-right: 0;
            }
        }
    }

    .title__line {
        background-color: white;
    }

    .title__small {
        @include fontStyle (10px, 400, white);
        text-transform: uppercase;
    } 
}